
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Nunito:ital@1&display=swap');
*{
    margin:0;
    padding:0;
  
}
html{
  scroll-behavior: smooth;
}

.fa {
  margin-left: -12px;
  margin-right: 8px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
  background-color: black;
  position: relative;
  height: 800px;
  overflow-x: hidden;
}
body::before{
  content: '';
  background: url("Flights.jpg") no-repeat center center/cover;
  position: absolute;
  top: 5px;
  width: 100%;
  height: 100%;

  z-index: -1;
  opacity: 3;
}
::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: transparent;
  z-index: 12;
  overflow: visible;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: white;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  width: 10px;
  background-color: #1E4271;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  transition: background-color .32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}

::-webkit-scrollbar-corner {
  background: #202020;
  cursor: pointer;
}

::selection {
  background: #54a5d4;
  text-shadow: 1px 1px 2px #000000aa;
  color: var(--sec);
  cursor: pointer;
}


hr {
  background-color: grey;
  border: 0px;
  height: 1px;
  width: 100%;
  opacity: 0.5;
  z-index: 1000;
}


header {

  background:white;
  height: 135px;
  display: flex;
  position: sticky;
  top: 0px;
  left: 0px;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.5s ease;
  z-index: 1000;
  font-weight: 500;
}

#ham {
  position: absolute;
  top: 3rem;
  left: 1.5rem;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  transition: top 0.5s ease;
}


#nav ul {
  display: flex;
  gap: 1.5rem;
  position: relative;
  transition: top 0.5s ease;
}

nav a {
  color: black;
  text-decoration: none;
}

.in {
  position: absolute;
  top: 72px;
  right: 0px;
  transition: top 0.5s ease;
}

nav input {
  position: relative;
  right: 30px;
  top: 10px;
  color: black;
  height: 2rem;
  width: 20rem;
  padding-left: 10px;
  border-radius: 6px;
  background-color: white;
  border-radius: 30px;
}

nav input:hover {
  border: 1px solid #66c0f4;
}

nav button {
  position: relative;
  right: 39px;
  top: 11.5px;
  aspect-ratio: 1/1;
  width: 2.1rem;
  color: #2a475e00;
  background: #ffffff00 url("https://img.favpng.com/10/4/11/computer-icons-search-box-button-clip-art-png-favpng-7TdWywgFBhJ2y81D9kE6nhjbT.jpg") no-repeat center center/cover;
  border: none;
  border-radius: 18px;
  display: none;
}

nav button:hover {
  /* border: 1px solid #000000; */
  /* background-color: #000000; */
  filter: invert(100%);
}

#nav a {
  margin: 0 2rem;
  position: relative;
}

#nav a::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s ease;
}

#nav a:hover::after {
  transform: scaleX(1);
}


.micon img{
  cursor: pointer;
  border-radius: 50%;
  width: 3.2rem;
  height:4rem;
}


.scrolling-active {
  height: 4rem;

}

.scrolling-active .micon {
  display: none;
}

.scrolling-active .in {
  top: 5px;
}

.scrolling-active #ham {
  top: 15px;
}

.scrolling-active #nav a::after {
  background-color: #313131;
}

#sid {
  position: fixed;
  top: 0px;
  left: 0px;
  transform: translateX(-160%);
  transition: transform 0.25s ease-in-out;
  z-index: 10;
}

#sid::before {
  content: '';
  background-color: white;
  width: 180px;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 8;
  opacity: 1;

}

aside ul {
  margin-top: 165px;
  margin-left: 1rem;
  display: grid;
  row-gap: 20px;
  place-items: center;
  transition: margin-top 0.5s ease-in-out;
  z-index: 2;
}

#sid li {
  list-style: none;
  cursor: pointer;
  z-index: 9;
}

/* #sid a {
  text-decoration: none;
  color: black;
}

#sid li:hover{
position: relative;
}

#sid li:hover::before {
  content: '';
  background-color: #a5a5a5;
  width: 150%;
  height: 2.5rem;
  position: absolute;
  top: -0.7rem;
  left: -12px;
  opacity: 0.2;
  
} */
#sid a {
  margin: 0 2rem;
  position: relative;
  text-decoration: none;
  color: black;
}

#sid a::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s ease;
}

#sid a:hover::after {
  transform: scaleX(1);
}

.scrolling-aside {
  margin-top: 6rem;
}
.container{
  /* position: absolute; */
  right: 100rem;
  height: 35rem;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container input{
  
  font-size: medium;
  width: 40rem;
  height: 3rem;
  border-radius: 12px;

  padding-left: 16px;
    

 

  box-sizing: border-box;
  background: rgba(191, 191, 191, 0.66);
  color: black;
  border: 1px solid rgb(255, 255, 255);
  font-size: 1.3rem;
  line-height: 40px;
}

#btn1{
font-size: medium;
width: 6rem;
height: 3rem;
border-radius: 20px;
border: none;
cursor: pointer;
background-color:rgb(250, 167, 24);
color: white;
}
#btn1:hover{
  background-color: rgb(129, 162, 202);
  color: white;
  box-shadow: #443880 2px 2px 5px;
}
.rev{
  
  position: relative;
}
.rev::before{
  content: '';
  background-color: aliceblue;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;

}
.rev ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.rev img{
  width: 10rem;
 border-radius: 50%;
}
.rev li{
  display: flex;
  align-items: center;
  gap: 1rem;
}
/**/
.in i{
 

  width:25px;
 
  text-align: center;
   position: absolute;
   left:82%;
   top:56%;
   cursor: pointer;
  color:skyblue;
}
 /*  text*/
#text{
  position: relative;
  top: 15rem;
  left: 24rem;
  color: #0b175ac7;
  font-weight: 500;
  font-size: 45px;
   font-family: 'Mouse Memoirs', sans-serif;
}
#t-hr{
  position: absolute;
  top: 27rem;
  left: 25rem;
  width: 27rem;
}



/* flsdfjs */

footer{
  
  position: absolute;
  bottom: -10rem;
  width: 100%;
  background-color: rgb(46, 46, 46);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.col1{
  color: white;
  
}
.col1 a{
  text-decoration: none;
  color: white;
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}