
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');


*{
    margin:0;
    padding:0;
}
html{
  scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
  background-color: black;
  position: relative;
}
body::before{
  content: '';
  background: url("Flights.jpg") no-repeat center center/cover;
  position: absolute;
  top: 5px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}
::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: transparent;
  z-index: 12;
  overflow: visible;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #1E4271;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  transition: background-color .32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}

::-webkit-scrollbar-corner {
  background: #202020;
}

::selection {
  background: #54a5d4;
  text-shadow: 1px 1px 2px #000000aa;
  color: var(--sec);
}


hr {
  background-color: grey;
  border: 0px;
  height: 1px;
  width: 100%;
  opacity: 0.5;
  z-index: 1000;
}


header {

  background: white;
  height: 125px;
  display: flex;
  position: sticky;
  top: 0px;
  left: 0px;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.5s ease;
  z-index: 1000;
}

#ham {
  position: absolute;
  top: 3rem;
  left: 1.5rem;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  transition: top 0.5s ease;
}


#nav ul {
  display: flex;
  gap: 1rem;
  position: relative;
  transition: top 0.5s ease;
}

nav a {
  color: black;
  text-decoration: none;
}

.in {
  position: absolute;
  top: 72px;
  right: 0px;
  transition: top 0.5s ease;
}

nav input {
  position: relative;
  right: 0px;
  top: 0px;
  color: black;
  height: 2rem;
  width: 12rem;
  border-radius: 6px;
  background-color: white;
}

nav input:hover {
  border: 1px solid #66c0f4;
}

nav button {
  position: relative;
  right: 38px;
  top: 12px;
  aspect-ratio: 1/1;
  width: 2.1rem;
  color: #2a475e;
  background: #000000 url("https://img.favpng.com/10/4/11/computer-icons-search-box-button-clip-art-png-favpng-7TdWywgFBhJ2y81D9kE6nhjbT.jpg") no-repeat center center/cover;
  border: 1px solid #000000;
  border-radius: 3px;
}

nav button:hover {
  border: 1px solid #000000;
  background-color: #000000;
  filter: invert(100%);
}

#nav a {
  margin: 0 2rem;
  position: relative;
}

#nav a::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s ease;
}

#nav a:hover::after {
  transform: scaleX(1);
}


.micon img{
  cursor: pointer;
  border-radius: 50%;
  width: 3.2rem;
}


.scrolling-active {
  height: 4rem;

}

.scrolling-active .micon {
  display: none;
}

.scrolling-active .in {
  top: 5px;
}

.scrolling-active #ham {
  top: 15px;
}

.scrolling-active #nav a::after {
  background-color: #313131;
}

#sid {
  position: fixed;
  top: 0px;
  left: 0px;
  transform: translateX(-160%);
  transition: transform 0.25s ease-in-out;
  z-index: 10;
}

#sid::before {
  content: '';
  background-color: white;
  width: 180px;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 8;
  opacity: 1;

}

aside ul {
  margin-top: 165px;
  margin-left: 1rem;
  display: grid;
  row-gap: 20px;
  place-items: center;
  transition: margin-top 0.5s ease-in-out;
  z-index: 2;
}

#sid li {
  list-style: none;
  cursor: pointer;
  z-index: 9;
}

/* #sid a {
  text-decoration: none;
  color: black;
}

#sid li:hover{
position: relative;
}

#sid li:hover::before {
  content: '';
  background-color: #a5a5a5;
  width: 150%;
  height: 2.5rem;
  position: absolute;
  top: -0.7rem;
  left: -12px;
  opacity: 0.2;
  
} */
#sid a {
  margin: 0 2rem;
  position: relative;
  text-decoration: none;
  color: black;
}

#sid a::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s ease;
}

#sid a:hover::after {
  transform: scaleX(1);
}

.scrolling-aside {
  margin-top: 6rem;
}
.container{
  /* position: relative; */
  height: 37.5rem;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container input{
  
  
  width: 15rem;
  height: 2.3rem;
  border-radius: 2px;
  border: none;
}
#btn1{

width: 4rem;
height: 2.3rem;
font-size: 1.1rem;
border-radius: 2px;
border: none;
}
#btn1:hover{
  background-color: #66c0f4;
  color: white;
  box-shadow: #000000 2px 2px 5px;
}
.rev{
  
  position: relative;
}
.rev::before{
  content: '';
  background-color: aliceblue;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;

}
.rev ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.rev img{
  width: 10rem;
 border-radius: 50%;
}
.rev li{
  display: flex;
  align-items: center;
  gap: 1rem;
}
