*{
    margin:0;
    padding:0;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }




  .navbar{
    display: flex;
    background-color: rgb(62, 98, 216);
    overflow: hidden;
    width:100%;
    justify-content: center;
    align-items: center;
    height: 83px;
}
#logo{
    height: 51px;
    width: 68px;
    
}
ul li{
    display: inline-block;
 
    padding:24px;
   color:white;
   font-size: 25px;
   cursor: pointer;
  
}
ul li:hover{
    color:burlywood;
}
body::before{
    content: '';
    background: url("fligh.jpg") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    opacity: 1.5;
}