@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter','san-serif';
}
body{
    background: url(bg.jpeg) no-repeat center center fixed;
    background-size: cover;
   
}
.container{
  
    color: white;
    position:absolute;
    top:35%;
    left:40%;
}
.container h1{
    font-family: 'Heebo', sans-serif;
    width: 50%;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid purple;
    margin-bottom: 16px;
    padding: 13px 0;
}

.box{
    width:100%;
    border-bottom: 2px solid purple;
    margin: 22px 0px;
  

}
.box i{
 

    width:25px;
 
    text-align: center;
}
.box input{
    /*transparent form chaiye to iska background none kran hoga*/
    background: none;
    width:75%;
   
    padding: 5px 10px;
    font-size: 20px;
    color:white;
    border: none;
    outline: none;
}
button{
    background: none;
    color:white;
    font-size: 18px;
    cursor:pointer;
    outline: none;
    border-radius: 10px;

    margin:12px 0;
    padding:10px 21px;
    border:1px solid purple;
    font-weight: bold;
}
button:hover{
    color:purple;
    background-color: white;
    opacity: 0.2;
}


/* footer{
    color: black;
>>>>>>> 1b9dff2803b3eef1fdd89f7dccbccfb6a45a27eb
} */